<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="headerfiles">
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/pexels.ico}"/>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta2/css/bootstrap-select.min.css"
          integrity="sha512-mR/b5Y7FRsKqrYZou7uysnOdCIJib/7r5QeJMFvLNHNhtye3xJp1TdJVPLtetkukFn227nKpXD9OjUc09lx97Q=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />

    <title>My Website</title>

    <link th:rel="stylesheet" th:href="@{assets/bootstrap-select-1.13.9/dist/css/bootstrap-select.css}"/>
    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
</head>
<body class="container">

<nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="header-navbar">
    <div class="container-fluid" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-lg-0 d-flex align-items-center">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/operation">Operations</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/operation/create">Create operation</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/operation/process">Process operation</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/cash-desk/get-all">Cash desks</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-danger" th:href="@{/logout}">Log out</a>
            </li>
        </ul>
        <form class="d-flex" th:action="@{/operation/search}">
            <input class="form-control me-2" id="search" name="search" type="search" placeholder="Search"
                   aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</nav>

<div th:fragment="filter-table(cashDeskDtos, currencies, statuses)">
    <form class="d-flex flex-column" th:action="@{/operation/filter}" th:object="${operationFilterPayload}">
        <div class="row mb-2">
            <div class="col">
                <label for="fromCashDesk">From cash desk</label>
                <select class="selectpicker" id="fromCashDesk" name="fromCashDeskIds" multiple>
                    <option data-hidden="true">Choose one...</option>
                    <option th:each="cashDesk : ${cashDeskDtos}"
                            th:value="${cashDesk.id}"
                            th:text="${cashDesk.name}"></option>
                </select>
            </div>
            <div class="col">
                <label for="toCashDesk">To cash desk</label>
                <select class="selectpicker" id="toCashDesk" field="*{toCashDeskIds}" name="toCashDeskIds" multiple>
                    <option th:each="cashDesk : ${cashDeskDtos}"
                            th:value="${cashDesk.id}"
                            th:text="${cashDesk.name}"></option>
                </select>
            </div>
            <div class="col">
            <label for="currencies">Currency</label>
            <select class="selectpicker" type="text" id="currencies" field="*{currency}" name="currencies" multiple>
                <option th:each="currency: ${currencies}"
                        th:value="${currency}"
                        th:text="${currency}"></option>
            </select>
        </div>
            <div class="col">
                <label for="status">Status</label>
                <select class="selectpicker" type="text" id="status" field="*{status}" name="status">
                    <option value="">None</option>
                    <option th:each="status: ${statuses}"
                            th:value="${status}"
                            th:text="${status}"></option>
                </select>
            </div>
        </div>
        <div class="row mb-2 align-items-end">
            <div class="col">
                <label for="amountFrom" class="form-label">From amount</label>
                <input type="number" name="amountFrom" class="form-control" id="amountFrom" placeholder="100">
            </div>
            <div class="col">
                <label for="amountTo" class="form-label">To amount</label>
                <input type="number" name="amountTo" class="form-control" id="amountTo" placeholder="1000">
            </div>
            <div class="col">
                <label for="fromDate">From:</label>
                <input type="datetime-local" class="form-control" id="fromDate" name="dateFrom">
            </div>
            <div class="col">
            <label for="toDate">To:</label>
            <input type="datetime-local" class="form-control" id="toDate" name="dateTo">
        </div>
        <button type="submit" class="col link-button btn btn-outline-success">Filter</button>
        </div>
    </form>
</div>

<table class="table" th:fragment="operation-table(dtos)">
    <thead>
    <tr>
        <th scope="col">Amount</th>
        <th scope="col">Currency</th>
        <th scope="col">From</th>
        <th scope="col">To</th>
        <th scope="col">Status</th>
        <th scope="col">Sender name</th>
        <th scope="col">Phone number</th>
        <th scope="col">Receiver name</th>
        <th scope="col">Phone number</th>
        <th scope="col">Description</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="operation : ${dtos.content}">
        <td th:text="${operation.amount}"></td>
        <td th:text="${operation.currency}"></td>
        <td th:text="${operation.fromCashDesk.name}"></td>
        <td th:text="${operation.toCashDesk.name}"></td>
        <td th:text="${operation.status}"></td>
        <td th:text="${operation.senderName}"></td>
        <td th:text="${operation.senderPhoneNumber}"></td>
        <td th:text="${operation.receiverName}"></td>
        <td th:text="${operation.receiverPhoneNumber}"></td>
        <td th:text="${operation.description}"></td>
    </tr>
    </tbody>
</table>

<table class="table" th:fragment="cash-desk-table(dtos)">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Balance</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="cashDesk : ${dtos.content}">
        <td th:text="${cashDesk.name}"></td>
        <td th:text="${cashDesk.balance}"></td>
    </tr>
</table>

<nav aria-label="Page navigation" class="paging" th:fragment="table-pagination(pageable, pageNumbers)">
    <ul class="pagination" th:object="${pageable}" th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}">
        <li class="page-item" th:class="${pageable.first} ? 'disabled' : ''">
            <a th:if="${not pageable.first}" th:href="${urlBuilder.replaceQueryParam('page', pageable.number - 1).build().toUriString()}"
               class="page-link" aria-label="Previous">Previous</a>
        </li>

        <li class="page-item pagination" th:each="pageNumber : ${pageNumbers}">
            <a th:href="${urlBuilder.replaceQueryParam('page', pageNumber - 1).build().toUriString()}"
               th:text="${pageNumber}"
               class="page-link"></a>
        </li>


        <li class="page-item" th:class="${pageable.last} ? 'disabled' : ''">
            <a th:if="${not pageable.last}" th:href="${urlBuilder.replaceQueryParam('page', pageable.number + 1).build().toUriString()}"
               class="page-link"  aria-label="Next">Next</a>
        </li>
    </ul>
</nav>

<footer th:fragment="footer">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta2/js/bootstrap-select.min.js"
            integrity="sha512-FHZVRMUW9FsXobt+ONiix6Z0tIkxvQfxtCSirkKc5Sb4TKHmqq1dZa8DphF0XqKb3ldLu/wgMa8mT6uXiLlRlw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>

    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{assets/bootstrap-select-1.14.0/dist/js/bootstrap-select.js}"></script>
</footer>
</body>
</html>