<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="general.html :: headerfiles">
</head>
<body class="container-fluid">

<nav th:replace="general.html :: header-navbar">
</nav>

<div th:replace="general.html :: filter-table(${cashDeskDtos}, ${currencies}, ${statuses})">
</div>

<table th:replace="general.html :: operation-table(${operationDtos})">
</table>

<nav th:replace="general.html :: table-pagination(${operationDtos}, ${pageNumbers})">
</nav>

<footer th:replace="general.html :: footer">
</footer>

</body>
</html>