<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="general.html :: headerfiles">
</head>
<body class="container">

<nav th:replace="general.html :: header-navbar">
</nav>

<div class="w-50 mx-auto">
    <h6 th:text="|${operationCreateDto.senderName}, you send ${operationCreateDto.amount}
                ${operationCreateDto.currency} to ${operationCreateDto.receiverName}. He/She can get money on
                ${operationCreateDto.toCashDesk.name} with code ${operationCreateDto.code}. Please, do not share
                code with anyone except receiver for security reasons.|"></h6>
</div>

<footer th:replace="general.html :: footer">
</footer>

</body>
</html>